# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: b|ognik
#email: spirited.carrot@proton.me
# Write an awesome description for your new site here. You can edit this
# line in _config.yml. It will appear in your document head meta (for
# Google search results) and in your feed.xml site description.
description: >- # this means to ignore newlines until "baseurl:"
  A place for fragments: notes, images, and half-formed thoughts. 
  Picked up, kept, and arranged into something new. 
  Broken and unfinished welcome.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username: jekyllrb
#github_username:  jekyll
kofi_url: "https://ko-fi.com/U7U11Q58JF"
kofi_button_img: "https://ko-fi.com/img/githubbutton_sm.svg"
author: "SpiritedCarrot"
license_name: "CC BY-NC 4.0"
license_url: "https://creativecommons.org/licenses/by-nc/4.0/"

# Build settings
theme: minima
plugins:
  - jekyll-feed

collections:
  comics:
    output: true
    permalink: /comics/:name.html
 
defaults:
  - scope:
      path: ""
      type: comics
    values:
      published: false

permalink: /:year/:month/:day/:title/

header_pages:
  - archive.html
  - comics/index.html
  - stuff_i_love.html

excerpt_separator: "<!--more-->"

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
