<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <p class="footer-left">
      © {{ site.time | date: "%Y" }} {{ site.author.name | default: site.author | default: site.title | escape }}
    </p>

    <p class="footer-right">
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
        CC BY-NC-SA 4.0
      </a>
      · color scheme:
      <a href="https://github.com/altercation/solarized">solarized</a>
    </p>
  </div>
</footer>